Repository yannickm95/exportify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

Updates
  assets/index-3ce7a26a.js
  assets/index-83177e13.css
  assets/index-9a0d2524.css
  index.html
Due: eslint --fix, prettier --write

add pnpm-lock.yaml to prettierignore
  .prettierignore
Due: none

update prettier
  .eslintrc.js
  index.html
  package.json
  pnpm-lock.yaml
  src/components/PlaylistRow.tsx
  src/index.tsx
Due: eslint --fix, prettier --write

Updates
  index.html
Due: prettier --write

update deps
  .eslintrc.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

update package manager
  package.json
Due: prettier --write

Updates
  assets/index-287f1884.js
  assets/index-4d9a25e5.css
  assets/index-9a0d2524.css
  index.html
Due: eslint --fix, prettier --write

Updates
  assets/index-4d9a25e5.css
  assets/index-5fc92a1d.css
  assets/index-c0c9a19e.js
  index.html
Due: eslint --fix, prettier --write

update dpes
  package.json
  pnpm-lock.yaml
Due: prettier --write

udpate deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

Updates
  assets/index-272ceedf.css
  assets/index-5fc92a1d.css
  assets/index-9e899a5b.js
  index.html
Due: eslint --fix, prettier --write

update deps
  pnpm-lock.yaml
Due: none

dont expose to network
  vite.config.ts
Due: eslint --fix, prettier --write

use simplistic router instead of direct location manipulation
  src/components/App.tsx
  src/components/Error.tsx
  src/components/Login.tsx
  src/components/Logout.tsx
  src/components/PlaylistRow.tsx
  src/components/PlaylistTable.tsx
  src/helpers/data/actions.ts
  src/helpers/data/api.ts
  src/helpers/data/utils.ts
  src/helpers/router.ts
  src/helpers/storage.ts
  vite.config.ts
Due: eslint --fix, prettier --write

Updates
  assets/index-0fb0e89a.js
  assets/index-9e899a5b.js
  index.html
Due: eslint --fix, prettier --write

account for github adding a trailing slash to url
  src/components/App.tsx
  src/components/Error.tsx
  src/helpers/data/api.ts
  src/helpers/router.ts
  vite.config.ts
Due: eslint --fix, prettier --write

Updates
  assets/index-0fb0e89a.js
  assets/index-57b462b9.js
  index.html
Due: eslint --fix, prettier --write

fix / router path
  src/helpers/router.ts
Due: eslint --fix, prettier --write

Updates
  assets/index-3bc130f4.js
  index.html
Due: eslint --fix, prettier --write

update deps
  package.json
  pnpm-lock.yaml
  src/helpers/data/actions.ts
Due: eslint --fix, prettier --write

Updates
  assets/index-2e37679a.js
  index.html
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,html,md,css})
