Repository yannickm95/exportify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,html,md,css}": "prettier --write"
}

update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

also add eventListenere to load
  src/helpers/router.ts
Due: eslint --fix, prettier --write

update deps + script naming
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

add VITE_ENV_REDIRECT_URI env var
  .env
  .github/workflows/ci.yml
  src/vite-env.d.ts
  vite.config.ts
Due: eslint --fix, prettier --write

use new context API
  src/components/App.tsx
  src/components/SubtitleDataContext.ts
Due: eslint --fix, prettier --write

remove `helpers/storag`
  src/helpers/storage.ts
Due: eslint --fix, prettier --write

move all auth logic to `helpers/data/api`
  src/components/App.tsx
  src/components/Error.tsx
  src/helpers/router.ts
Due: eslint --fix, prettier --write

use Authorization Code with PKCE Flow
  src/helpers/data/api.ts
Due: eslint --fix, prettier --write

update underlying deps
  pnpm-lock.yaml
Due: none

cleanup code a bit
  src/helpers/data/api.ts
Due: eslint --fix, prettier --write

cleanup code a bit more
  src/helpers/data/api.ts
Due: eslint --fix, prettier --write

cleanup `code` instead of using a `ref`
  src/helpers/data/api.ts
Due: eslint --fix, prettier --write

cleanup window.location.search instead
  src/helpers/data/api.ts
Due: eslint --fix, prettier --write

Revert "cleanup window.location.search instead"
  src/helpers/data/api.ts
Due: eslint --fix, prettier --write

Revert "cleanup `code` instead of using a `ref`"
  src/helpers/data/api.ts
Due: eslint --fix, prettier --write

update package manager version + update underlying deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

extend dependabot config
  .github/dependabot.yml
Due: none

update package manager version
  package.json
Due: prettier --write
