Repository yannickm95/exportify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

Updates
  assets/index-272ceedf.css
  assets/index-3134f613.js
  assets/index-d4e51695.css
  index.html
Due: eslint --fix, prettier --write

Revert "Bump bootstrap from 5.3.1 to 5.3.2 (#390)"
  package.json
  pnpm-lock.yaml
Due: prettier --write

lock bootstrap version
  package.json
  pnpm-lock.yaml
Due: prettier --write

Updates
  assets/index-272ceedf.css
  assets/index-2e37679a.js
  assets/index-d4e51695.css
  index.html
Due: eslint --fix, prettier --write

lock reac-bootstrap as well and update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

update types and package manager
  package.json
  pnpm-lock.yaml
Due: prettier --write

update package manager
  package.json
Due: prettier --write

update deps
  pnpm-lock.yaml
Due: none

revert bootstrap updates
  package.json
  pnpm-lock.yaml
Due: prettier --write

update deps and package manager
  package.json
  pnpm-lock.yaml
Due: prettier --write

update deps + vite 5 + ESM
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

Updates
  assets/index-1r_eMx3w.js
  assets/index-gOiQToTL.css
  index.html
Due: eslint --fix, prettier --write

add extra scope for fetching followed artists
  src/helpers/data/api.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,html,md,css})
