Repository yannickm95/exportify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,html,md,yml,css}": "prettier --write"
}

update deps
  package.json
  yarn.lock
Due: prettier --write

update yarn version
  .yarn/releases/yarn-3.2.1.cjs
  .yarn/releases/yarn-3.2.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

Updates
  assets/index.2061fa6f.js
  assets/index.2187740e.css
  assets/index.3b56e8fc.css
  assets/index.ee19a602.js
  index.html
Due: eslint --fix, prettier --write

update underlying deps
  yarn.lock
Due: none

Updates
  assets/index.3b56e8fc.css
  assets/index.a88f085d.css
  index.html
Due: prettier --write

Update index.css
  src/index.css
Due: prettier --write

Updates
  assets/index.49151aeb.css
  assets/index.a88f085d.css
  index.html
Due: prettier --write

update yarn version
  .yarn/releases/yarn-3.2.2.cjs
  .yarn/releases/yarn-3.2.3.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

Updates
  assets/index.34089a40.js
  index.html
Due: eslint --fix, prettier --write

Updates
  assets/index.49151aeb.css
  assets/index.b85ef5a4.css
  index.html
Due: prettier --write

update yarn version
  .yarn/releases/yarn-3.2.3.cjs
  .yarn/releases/yarn-3.2.4.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

Updates
  assets/index.2b186d60.js
  index.html
Due: eslint --fix, prettier --write
