Repository yannickm95/exportify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

update deps
  package.json
  yarn.lock
Due: prettier --write

update desp
  package.json
  yarn.lock
Due: prettier --write

update yarn version to latest
  .yarn/releases/yarn-3.3.1.cjs
  .yarn/releases/yarn-3.4.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

Updates
  assets/index-105470f2.js
  assets/index-21ecf22f.js
  index.html
Due: eslint --fix, prettier --write

add JS sort button
  README.md
  package.json
  src/components/PlaylistRow.tsx
  src/components/PlaylistTable.tsx
  src/helpers/data.ts
  yarn.lock
Due: eslint --fix, prettier --write

Updates
  assets/index-105470f2.js
  assets/index-307c022b.js
  index.html
Due: eslint --fix, prettier --write

Updates
  assets/index-307c022b.js
  assets/index-91d28bdd.css
  assets/index-ea41d8c9.js
  assets/index-f641e7d5.css
  index.html
Due: eslint --fix, prettier --write

update underlying deps
  yarn.lock
Due: none

upgrade yarn version
  .yarn/releases/yarn-3.4.1.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

update ts config
  tsconfig.json
Due: prettier --write

Updates
  assets/index-e81e5a26.js
  index.html
Due: eslint --fix, prettier --write

Updates
  assets/index-0af6c197.js
  assets/index-e81e5a26.js
  index.html
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,html,md,css})
