Repository yannickm95/exportify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,html,md,yml,css}": "prettier --write"
}

update deps
  package.json
  yarn.lock
Due: prettier --write

Updates
  assets/index.2a86b60b.js
  assets/index.545a9b45.js
  index.html
Due: eslint --fix, prettier --write

update underlying dependencies
  yarn.lock
Due: none

Updates
  assets/index.2a86b60b.js
  assets/index.5e78a428.css
  assets/index.c5116204.css
  assets/index.eb420f92.js
  index.html
Due: eslint --fix, prettier --write

Updates
  assets/index.20608900.js
  assets/index.eb420f92.js
  index.html
Due: eslint --fix, prettier --write

use built-in cache setup of setup-node
  .github/workflows/ci.yml
Due: prettier --write

use setup-node with yarn cache
  .github/workflows/ci.yml
Due: prettier --write

update deps and yarn itself
  .yarn/releases/yarn-3.1.0.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

Updates
  assets/index.20608900.js
  assets/index.fe99c396.js
  index.html
Due: eslint --fix, prettier --write

update some tools logic
  .eslintignore
  .github/workflows/ci.yml
  .prettierignore
  .yarnrc.yml
  package.json
  public/font/exportify-icons.css
  tsconfig.json
  vite.config.js
  vite.config.ts
Due: eslint --fix, prettier --write

Updates
  font/exportify-icons.css
Due: prettier --write

don't put icon set in public folder
  index.html
  src/assets/font/exportify-icons.css
  src/assets/font/exportify-icons.woff2
Due: prettier --write

Updates
  assets/index.0beb94b6.js
  assets/index.5e78a428.css
  assets/index.77fed51c.css
  assets/index.fe99c396.js
  font/exportify-icons.css
  font/exportify-icons.woff2
  index.html
Due: eslint --fix, prettier --write

Revert "don't put icon set in public folder"
  index.html
  public/font/exportify-icons.css
  public/font/exportify-icons.woff2
Due: prettier --write

Updates
  assets/index.b0834a38.js
  assets/index.fe99c396.js
  index.html
Due: eslint --fix, prettier --write

update deps
  package.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

Updates
  assets/index.0d46461f.css
  assets/index.0e6db60a.js
  assets/index.b0834a38.js
  index.html
Due: eslint --fix, prettier --write

Updates
  assets/index.0e6db60a.js
  assets/index.a62b8b7b.js
  index.html
Due: eslint --fix, prettier --write

update bootstrap + consistent script names across repos
  .github/workflows/ci.yml
  package.json
  yarn.lock
Due: prettier --write

Updates
  assets/index.0d46461f.css
  assets/index.2187740e.css
  index.html
Due: prettier --write

Updates
  assets/index.a62b8b7b.js
  assets/index.ee19a602.js
  index.html
Due: eslint --fix, prettier --write

update dpes
  package.json
  yarn.lock
Due: prettier --write
