Repository yannickm95/exportify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,html,md,css}": "prettier --write"
}

update deps
  package.json
  yarn.lock
Due: prettier --write

Updates
  assets/index-91d28bdd.css
  assets/index-a4160edc.js
  assets/index-b2bd4cd0.css
  index.html
Due: eslint --fix, prettier --write

limit toasts to 3
  src/components/Template.tsx
Due: eslint --fix, prettier --write

Updates
  assets/index-13cbc312.js
  index.html
Due: eslint --fix, prettier --write

Updates
  assets/index-13cbc312.js
  assets/index-6e687ef1.js
  index.html
Due: eslint --fix, prettier --write

put release radar as last playlist
  src/helpers/data.ts
Due: eslint --fix, prettier --write

Updates
  assets/index-dac2a32a.js
  index.html
Due: eslint --fix, prettier --write

use pnpm instead of yarn
  .github/workflows/ci.yml
  .gitignore
  .husky/precommit
  .prettierignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarnrc.yml
  README.md
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: prettier --write

fix pre-commit hook
  .husky/pre-commit
  .husky/precommit
  package.json
Due: prettier --write

update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

update deps
  pnpm-lock.yaml
Due: none

update deps + fix classnames usage
  package.json
  pnpm-lock.yaml
  src/components/Icon.tsx
Due: eslint --fix, prettier --write

Updates
  assets/index-c9012614.js
  assets/index-dac2a32a.js
  index.html
Due: eslint --fix, prettier --write

Updates
  assets/index-2dbffa5a.js
  assets/index-83177e13.css
  assets/index-b2bd4cd0.css
  index.html
Due: eslint --fix, prettier --write

update eslint rules
  .eslintignore
  .eslintrc.js
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  src/components/App.tsx
  src/components/ButtonLoader.tsx
  src/components/Error.tsx
  src/components/Icon.tsx
  src/components/Login.tsx
  src/components/Logout.tsx
  src/components/PlaylistRow.tsx
  src/components/PlaylistTable.tsx
  src/components/Template.tsx
  src/helpers/api.ts
  src/helpers/data.ts
  src/index.tsx
Due: eslint --fix, prettier --write

Updates
  assets/index-9c78a0d9.js
  index.html
Due: eslint --fix, prettier --write

update underlying deps
  pnpm-lock.yaml
Due: none

update deps and package manager
  package.json
  pnpm-lock.yaml
Due: prettier --write
