Repository yannickm95/exportify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,html,md,yml,css}": "prettier --write"
}

add sort toast success
  package.json
  src/components/PlaylistRow.tsx
  src/components/Template.tsx
  src/data/quickSortPlaylist.ts
  src/index.scss
  src/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Updates
  assets/index.5d0fffb8.js
  assets/index.72815b0e.css
  assets/index.f677e252.js
  assets/index.f8a0f67f.css
  assets/vendor.2b933460.js
  assets/vendor.b5f67df7.js
  index.html
Due: eslint --fix, prettier --write

reduce time
  src/components/PlaylistRow.tsx
Due: eslint --fix, prettier --write

Updates
  assets/index.ca806c4a.js
  index.html
Due: eslint --fix, prettier --write

Update package.json
  package.json
Due: prettier --write

Update vite.config.ts
  vite.config.ts
Due: eslint --fix, prettier --write

cleanup gitignore
  .gitignore
  package.json
Due: prettier --write

update deps
  package.json
  yarn.lock
Due: prettier --write

fix css
  package.json
  src/index.scss
  yarn.lock
Due: prettier --write

Updates
  assets/index.72815b0e.css
  assets/index.bad8f771.js
  assets/index.ca806c4a.js
  assets/index.e401ea1e.css
  assets/vendor.2b933460.js
  assets/vendor.dd086885.js
  index.html
Due: eslint --fix, prettier --write

Updates
  assets/index.bad8f771.js
  assets/index.c8e41935.js
  index.html
Due: eslint --fix, prettier --write

update deps + drop sass
  package.json
  src/components/Template.tsx
  src/index.css
  src/index.scss
  src/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

cleanup scripts
  package.json
Due: prettier --write

Updates
  assets/index.865ba159.js
  assets/index.c28e63f0.css
  assets/index.c8e41935.js
  assets/index.e401ea1e.css
  index.html
Due: eslint --fix, prettier --write

use less complicated tracks array update in lastSortPlaylist
  src/data/lastSortPlaylist.ts
Due: eslint --fix, prettier --write

Updates
  assets/index.4869beac.js
  assets/index.865ba159.js
  index.html
Due: eslint --fix, prettier --write

cleanup packages
  package.json
  vite.config.js
  yarn.lock
Due: eslint --fix, prettier --write

Updates
  assets/index.31d194dc.css
  assets/index.4869beac.js
  assets/index.58e8b40d.js
  assets/index.c28e63f0.css
  assets/vendor.39f95637.js
  assets/vendor.dd086885.js
  index.html
Due: eslint --fix, prettier --write

Updates
  assets/index.4cf40f20.js
  assets/vendor.43620a55.js
  index.html
Due: eslint --fix, prettier --write

Updates
  assets/index.f82c14c0.js
  index.html
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

Updates
  assets/index.4cf40f20.js
  index.html
Due: eslint --fix, prettier --write

Updates
  assets/index.31d194dc.css
  assets/index.4cf40f20.js
  assets/index.c28e63f0.css
  assets/vendor.43620a55.js
  index.html
Due: eslint --fix, prettier --write

minify build
  vite.config.js
Due: eslint --fix, prettier --write

Updates
  assets/index.4cf40f20.js
  assets/index.fe72c6f8.js
  assets/vendor.43620a55.js
  assets/vendor.8dc3ac9c.js
  index.html
Due: eslint --fix, prettier --write

Updates
  assets/index.a788a1f8.js
  assets/index.fe72c6f8.js
  assets/vendor.291449b5.js
  assets/vendor.8dc3ac9c.js
  index.html
Due: eslint --fix, prettier --write

update gitignore
  .env
  .gitignore
Due: none

fix env file
  .env
  .gitignore
Due: none

Updates
  assets/index.a788a1f8.js
  assets/index.bf45ba97.css
  assets/index.c28e63f0.css
  assets/index.e0e02ad7.js
  assets/vendor.291449b5.js
  assets/vendor.759a560d.js
  index.html
Due: eslint --fix, prettier --write

add material icons and custom icons
  src/assets/fontLoader.js
  src/assets/fonts/app-icons/app-icons-regular.ttf
  src/assets/fonts/app-icons/app-icons-regular.woff
  src/assets/fonts/app-icons/app-icons-regular.woff2
  src/assets/fonts/app-icons/appIconsLoader.js
  src/assets/fonts/material-icons/material-icons-regular.ttf
  src/assets/fonts/material-icons/material-icons-regular.woff
  src/assets/fonts/material-icons/material-icons-regular.woff2
  src/assets/fonts/material-icons/materialIconsLoader.js
  src/components/Error.tsx
  src/components/Icon.tsx
  src/components/Login.tsx
  src/components/Logout.tsx
  src/components/PlaylistRow.tsx
  src/components/Template.tsx
  src/index.css
  src/index.tsx
Due: eslint --fix, prettier --write

remove fort awesome packages
  package.json
  src/helpers/icons.ts
  src/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

update script names
  package.json
Due: prettier --write

Updates
  assets/index.72f60fff.css
  assets/index.bf45ba97.css
  assets/index.e0e02ad7.js
  assets/index.e5b7e442.js
  assets/material-icons-regular.0377c0d7.woff
  assets/material-icons-regular.07132fca.woff2
  assets/material-icons-regular.fd9e97cb.ttf
  assets/vendor.759a560d.js
  assets/vendor.ec3da9fc.js
  index.html
Due: eslint --fix, prettier --write

update to react 18
  package.json
  src/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

update underlying deps
  yarn.lock
Due: none
