Repository yannickm95/exportify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

add context to manage subtitle data + add followed artists download button
  src/components/App.tsx
  src/components/PlaylistTable.tsx
  src/components/SubtitleDataContext.ts
  src/components/Template.tsx
  src/index.css
Due: eslint --fix, prettier --write

add followed artists fetch and convert to csv for artists
  src/components/PlaylistRow.tsx
  src/helpers/data/actions.ts
  src/helpers/data/utils.ts
Due: eslint --fix, prettier --write

Add followed artists CSV download (#454)
  src/components/App.tsx
  src/components/PlaylistRow.tsx
  src/components/PlaylistTable.tsx
  src/components/SubtitleDataContext.ts
  src/components/Template.tsx
  src/helpers/data/actions.ts
  src/helpers/data/api.ts
  src/helpers/data/utils.ts
  src/index.css
Due: eslint --fix, prettier --write

Updates
  assets/index-1r_eMx3w.js
  assets/index-gOiQToTL.css
  assets/index-nqR-V4-d.css
  assets/index-zlnISMTf.js
  index.html
Due: eslint --fix, prettier --write

rename `download` to `export`
  src/components/Template.tsx
Due: eslint --fix, prettier --write

Updates
  assets/index-HAoyXvjc.js
  index.html
Due: eslint --fix, prettier --write

udpate deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

Updates
  assets/index-85R148am.js
  assets/index-HAoyXvjc.js
  index.html
Due: eslint --fix, prettier --write

update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

use actions user for deployement
  .github/workflows/ci.yml
Due: none

fix issues found by knip
  package.json
  src/components/Icon.tsx
  src/helpers/data/utils.ts
Due: eslint --fix, prettier --write

use gh actions bot as deploy user
  .github/workflows/ci.yml
Due: none

set user with git config instead
  .github/workflows/ci.yml
Due: none

update react-toastify
  package.json
  pnpm-lock.yaml
  src/components/PlaylistRow.tsx
  src/components/Template.tsx
Due: eslint --fix, prettier --write

include playlist name in toast message
  src/components/PlaylistRow.tsx
Due: eslint --fix, prettier --write

update deps and package manager version
  package.json
  pnpm-lock.yaml
Due: prettier --write

update dpes
  pnpm-lock.yaml
Due: none

upgrade husky to v9
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,html,md,css})
