Repository yannickm95/exportify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Updates
  assets/index.38e8d45e.js
  assets/index.e5b7e442.js
  assets/vendor.ec3da9fc.js
  index.html
Due: eslint --fix, prettier --write

use Math.max for number comparison
  src/data/lastSortPlaylist.ts
Due: eslint --fix, prettier --write

add artifical delay so we don't trigger too many requests
  src/data/quickSortPlaylist.ts
Due: eslint --fix, prettier --write

remove bottleneck package
  package.json
  src/helpers/api.ts
  yarn.lock
Due: eslint --fix, prettier --write

Updates
  assets/index.38e8d45e.js
  assets/index.7ff0ee4c.js
  index.html
Due: eslint --fix, prettier --write

add more functions to helpers keep components clean
  src/components/App.tsx
  src/components/Login.tsx
  src/components/Logout.tsx
  src/helpers/api.ts
  src/helpers/utils.ts
Due: eslint --fix, prettier --write

Updates
  assets/index.5aa4da37.js
  index.html
Due: eslint --fix, prettier --write

Create ci.yml
  .github/workflows/ci.yml
Due: prettier --write

Update ci.yml
  .github/workflows/ci.yml
Due: prettier --write

update deps
  package.json
  yarn.lock
Due: prettier --write

drop core-js
  package.json
  src/index.tsx
Due: eslint --fix, prettier --write

use direct html link sheets for icons
  index.html
  public/font/exportify-icons.css
  public/font/exportify-icons.woff2
  src/assets/fontLoader.js
  src/assets/fonts/app-icons/app-icons-regular.ttf
  src/assets/fonts/app-icons/app-icons-regular.woff
  src/assets/fonts/app-icons/appIconsLoader.js
  src/assets/fonts/material-icons/material-icons-regular.ttf
  src/assets/fonts/material-icons/material-icons-regular.woff
  src/assets/fonts/material-icons/material-icons-regular.woff2
  src/assets/fonts/material-icons/materialIconsLoader.js
  src/components/Icon.tsx
  src/components/Template.tsx
  src/index.css
  src/index.tsx
Due: eslint --fix, prettier --write

use prettier printWidth 120
  .prettierrc.json
  index.html
  src/components/Error.tsx
  src/components/Icon.tsx
  src/components/Login.tsx
  src/components/Logout.tsx
  src/components/PlaylistRow.tsx
  src/components/PlaylistTable.tsx
  src/data/getPlaylists.ts
  src/data/helpers/convertTracksToCsv.ts
  src/data/helpers/formatCompareValue.ts
  src/data/helpers/getPlaylistTracks.ts
  src/data/lastSortPlaylist.ts
  src/data/quickSortPlaylist.ts
  src/helpers/api.ts
  src/helpers/utils.ts
Due: eslint --fix, prettier --write

use lts/* node-verison in worklfow
  .github/workflows/ci.yml
Due: prettier --write

update yarn.lock
  yarn.lock
Due: none

add automatic build and deploy
  .github/workflows/ci.yml
Due: prettier --write

fix ci.yml
  .github/workflows/ci.yml
Due: prettier --write

fix if check in ci build
  .github/workflows/ci.yml
  README.md
Due: prettier --write

Updates
  assets/index.5aa4da37.js
  assets/index.64cf0d6a.js
  assets/index.72f60fff.css
  assets/index.c5116204.css
  assets/material-icons-regular.0377c0d7.woff
  assets/material-icons-regular.07132fca.woff2
  assets/material-icons-regular.fd9e97cb.ttf
  font/exportify-icons.css
  font/exportify-icons.woff2
  index.html
Due: eslint --fix, prettier --write

add playlist secret to ci workflow
  .github/workflows/ci.yml
Due: prettier --write

Updates
  assets/index.69413691.js
  index.html
Due: eslint --fix, prettier --write

add dependabot
  .github/dependabot.yml
  .github/workflows/ci.yml
Due: prettier --write

update dev deps
  package.json
  yarn.lock
Due: prettier --write

drop axios + refactor folder structure and api handling
  package.json
  src/components/App.tsx
  src/components/Login.tsx
  src/components/PlaylistRow.tsx
  src/components/PlaylistTable.tsx
  src/data/exportToCsv.ts
  src/data/getPlaylists.ts
  src/data/helpers/convertTracksToCsv.ts
  src/data/helpers/formatCompareValue.ts
  src/data/helpers/getPlaylistTracks.ts
  src/data/lastSortPlaylist.ts
  src/data/quickSortPlaylist.ts
  src/helpers/api.ts
  src/helpers/data.ts
  src/helpers/utils.ts
  src/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Updates
  assets/index.545a9b45.js
  assets/index.69413691.js
  index.html
Due: eslint --fix, prettier --write

update underlying commits
  yarn.lock
Due: none

update vite
  package.json
  yarn.lock
Due: prettier --write

remove gh-pages dep
  .github/workflows/ci.yml
  package.json
  yarn.lock
Due: prettier --write

update them
  index.html
Due: prettier --write

Updates
  index.html
Due: prettier --write

revert theme change
  index.html
Due: prettier --write

update react-bootstrap
  package.json
  yarn.lock
Due: prettier --write

update packages
  package.json
  yarn.lock
Due: prettier --write

update copyright
  LICENSE
Due: none

update dev dependencies
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,html,md,yml,css})
