Repository yannickm95/exportify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

update bootstrap
  package.json
  pnpm-lock.yaml
Due: prettier --write

Revert "update bootstrap"
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix ts error
  src/helpers/data/api.ts
Due: eslint --fix, prettier --write

dont hide progressbar
  src/components/Template.tsx
Due: eslint --fix, prettier --write

update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

convert to ESLint v9
  .eslintrc.cjs
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Update dependabot.yml
  .github/dependabot.yml
Due: none

update deps
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

update underlying deps
  pnpm-lock.yaml
Due: none

update deps
  pnpm-lock.yaml
Due: none

add eslint group to dependabot
  .github/dependabot.yml
Due: none

dedupe + update underlying
  pnpm-lock.yaml
Due: none

update package manager version
  package.json
Due: prettier --write

update TS config + fix src
  src/helpers/data/actions.ts
  tsconfig.json
Due: eslint --fix, prettier --write

account for possible null playlist
  src/helpers/data/actions.ts
Due: eslint --fix, prettier --write

update deps v2
  package.json
  pnpm-lock.yaml
Due: prettier --write

update `react-toastify` to v11
  package.json
  pnpm-lock.yaml
  src/index.tsx
Due: eslint --fix, prettier --write

bump to v10.0 of pnpm
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,html,md,css})
