Repository yannickm95/exportify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

update tsconfig
  tsconfig.json
Due: prettier --write

run pnpm format
  eslint.config.js
  public/font/exportify-icons.css
  src/components/App.tsx
  src/components/Error.tsx
  src/components/Icon.tsx
  src/components/Login.tsx
  src/components/Logout.tsx
  src/components/PlaylistRow.tsx
  src/components/PlaylistTable.tsx
  src/components/SubtitleDataContext.ts
  src/components/Template.tsx
  src/helpers/data/actions.ts
  src/helpers/data/api.ts
  src/helpers/data/utils.ts
  src/helpers/router.ts
  src/index.css
  src/index.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

update file names
  src/components/app-new.tsx
  src/components/button-loader.tsx
  src/components/error-new.tsx
  src/components/icon-new.tsx
  src/components/login-new.tsx
  src/components/logout-new.tsx
  src/components/playlist-row.tsx
  src/components/playlist-table.tsx
  src/components/subtitle-data-context.ts
  src/components/template-new.tsx
  src/helpers/data/utils.ts
  src/index.tsx
Due: eslint --fix, prettier --write

drop -new suffix to circumvent gh filesystem
  src/components/app.tsx
  src/components/error.tsx
  src/components/icon.tsx
  src/components/login.tsx
  src/components/logout.tsx
  src/components/playlist-row.tsx
  src/components/template.tsx
  src/index.tsx
Due: eslint --fix, prettier --write

eslint to oxlint
  .github/dependabot.yml
  .oxlintrc.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/template.tsx
Due: eslint --fix, prettier --write

type-aware linting + single check
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  src/helpers/data/actions.ts
  tsconfig.json
Due: eslint --fix, prettier --write

include vite config
  .oxlintrc.json
Due: prettier --write

replace vite plugin
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --write

use toast instead of redirect page
  src/components/login.tsx
  src/components/playlist-row.tsx
  src/components/playlist-table.tsx
  src/components/template.tsx
  src/helpers/data/api.ts
Due: eslint --fix, prettier --write

use spotify sdk
  package.json
  pnpm-lock.yaml
  src/components/app.tsx
  src/components/error.tsx
  src/components/login.tsx
  src/components/logout.tsx
  src/components/playlist-row.tsx
  src/components/playlist-table.tsx
  src/components/subtitle-data-context.ts
  src/components/template.tsx
  src/helpers/data/actions.ts
  src/helpers/data/api.ts
  src/helpers/data/utils.ts
Due: eslint --fix, prettier --write

fix eslint warning
  src/helpers/data/api.ts
Due: eslint --fix, prettier --write

cleanup oxlint config
  .oxlintrc.json
  package.json
  pnpm-lock.yaml
  src/components/template.tsx
  src/helpers/data/api.ts
  src/helpers/data/utils.ts
Due: eslint --fix, prettier --write

most minimal oxfmt setup + type cleanup
  .oxfmtrc.json
  src/components/playlist-row.tsx
  src/helpers/data/utils.ts
  src/vite-env.d.ts
Due: eslint --fix, prettier --write

enable sortScripts in oxfmt
  .oxfmtrc.json
  package.json
Due: prettier --write

oxlint -> json to ts, re-add confusing-browser-globals, add import rules, auto determine react version
  oxlint.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

add oxlint.config.ts to oxlint
  oxlint.config.ts
Due: eslint --fix, prettier --write

dependabot: update interval + group updates
  .github/dependabot.yml
Due: none

remove vite-plugin-oxlint
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --write

update vite/ox suite
  package.json
  pnpm-lock.yaml
  src/helpers/data/utils.ts
  vite.config.ts
Due: eslint --fix, prettier --write

update package manager version
  package.json
Due: prettier --write

update underlying deps
  pnpm-lock.yaml
Due: none

update pnpm version + underlying deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

test lock file output
  .github/workflows/ci.yml
Due: none

remove check
  .github/workflows/ci.yml
Due: none

overwrite spotify sdk types + improve eslint setup
  oxlint.config.ts
  src/@types/npm/web-api-ts-sdk.d.ts
  src/components/template.tsx
  src/helpers/data/utils.ts
Due: eslint --fix, prettier --write

upgrade to pnpm@11
  package.json
  pnpm-lock.yaml
Due: prettier --write

update packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

account for `minimumReleaseAge` in dependabot
  .github/dependabot.yml
Due: none

add permissions to workflow
  .github/workflows/ci.yml
Due: none

update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

improve sanitization
  src/helpers/data/utils.ts
Due: eslint --fix, prettier --write

Improvements (#1042)
  .github/dependabot.yml
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  src/helpers/data/utils.ts
Due: eslint --fix, prettier --write

move `spotify-sdk` to production deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

account for rerfresh token changes
  src/helpers/data/api.ts
Due: eslint --fix, prettier --write

cleanup oxlint
  oxlint.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

add https in dev
  README.md
  package.json
  pnpm-lock.yaml
  src/helpers/data/api.ts
  vite.config.ts
Due: eslint --fix, prettier --write

Replace font icons with svg icons
  index.html
  public/font/exportify-icons.css
  public/font/exportify-icons.woff2
  src/components/app.tsx
  src/components/icon.tsx
  src/components/login.tsx
  src/components/playlist-row.tsx
  src/components/template.tsx
  src/index.css
Due: eslint --fix, prettier --write

bootstrap to TailwindCSS
  .oxfmtrc.json
  README.md
  index.html
  package.json
  pnpm-lock.yaml
  src/components/app.tsx
  src/components/button-loader.tsx
  src/components/button.tsx
  src/components/login.tsx
  src/components/playlist-row.tsx
  src/components/playlist-table.tsx
  src/components/template.tsx
  src/helpers/cn.ts
  src/index.css
  src/index.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

use react-router for routing
  package.json
  pnpm-lock.yaml
  src/components/app.tsx
  src/helpers/data/api.ts
  src/helpers/router.ts
  src/index.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,html,md,css})
