Repository yannickm95/exportify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,html,md,css}": "prettier --write"
}

update deps + dedupe
  package.json
  pnpm-lock.yaml
Due: prettier --write

update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

update package manager version
  package.json
Due: prettier --write

update to vite v7 + update underlying deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

remove precommit hooks
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

update react-hooks rules
  eslint.config.js
Due: eslint --fix, prettier --write

update some more
  eslint.config.js
Due: eslint --fix, prettier --write

update (underlying) deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix typo eslint
  eslint.config.js
Due: eslint --fix, prettier --write

update package manager version + underlying deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

remove fallback eslint
  eslint.config.js
Due: eslint --fix, prettier --write

use versioned github actions
  .github/workflows/ci.yml
Due: none

update deps: - use `@vitejs/plugin-react` instead of swc one - update package manager version - update deps and underlying deps
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --write

update underlying deps
  pnpm-lock.yaml
Due: none

use rolldown-vite
  package.json
  pnpm-lock.yaml
Due: prettier --write

update underlying deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

prettier -> oxfmt
  .oxfmtrc.json
  .prettierignore
  .prettierrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write
