Repository yannickm95/exportify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix tests
  src/helpers/data/actions.test.ts
Due: eslint --fix, prettier --write

way less conservative
  src/helpers/data/actions.test.ts
  src/helpers/data/actions.ts
Due: eslint --fix, prettier --write

update deps and package manager version
  package.json
  pnpm-lock.yaml
Due: prettier --write

ajdust to new oxlint update
  oxlint.config.ts
  src/helpers/data/api.ts
Due: eslint --fix, prettier --write

update package manager version
  package.json
Due: prettier --write

update underlying deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

dont invalidate completed fetches in invalidate only inflight
  src/helpers/data/playlist-track-cache.test.ts
  src/helpers/data/playlist-track-cache.ts
Due: eslint --fix, prettier --write

update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

use cache for sorts as well
  src/components/playlist-row.tsx
Due: eslint --fix, prettier --write

use `pnpm@12` with `devEngines` and dependabot fixes
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

use new compound `pnpm/setup` action
  .github/workflows/ci.yml
Due: none

test dependabot by downgrading `oxlint`
  package.json
  pnpm-lock.yaml
Due: prettier --write

use `pnpm` commands everywhere
  .github/workflows/ci.yml
Due: none

update deps + remove need for `approveBuilds` for node
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

update deps and package manager + remove `pmOnFail` override in `pnpm-workspace.yaml`
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

fix `lastSort` being borked by out of place tracks
  src/helpers/data/actions.test.ts
  src/helpers/data/actions.ts
  src/helpers/data/utils.ts
Due: eslint --fix, prettier --write

console.log items that are out of place and sorted items in sortlast
  src/helpers/data/actions.ts
  src/helpers/data/utils.ts
Due: eslint --fix, prettier --write

improve logging
  src/helpers/data/actions.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,html,md,css})
